/*  FONTS  */
@font-face {
	font-family: "josefin";
	src: url("./fonts/JosefinSans-Bold.ttf");
}

@font-face {
	font-family: "roboto-bold";
	src: url("./fonts/Roboto-Bold.ttf")
}

@font-face {
	font-family: "roboto";
	src: url("./fonts/Roboto-Thin.ttf")
}

/*  ANIMATIONS  */
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*  STYLE  */
body {
  display: flex;
  flex-direction: column;
	margin: 0px;
	padding: 0px;
  font-family: "roboto", courier;
	color: black;
	background-color: #FBFBFC;
}

li {
  display: flex;
}

button {
  display: flex;
	padding: 10px;
  border-style: none;
  background-color: rgba(250, 251, 252, 0.5);
	font-family: "roboto", courier;
	font-weight: bold;
	color: black;
  font-size: 19px;
	/* text-decoration: underline; */
  transition-duration: .4s;
}

button:hover {
  /* background-color: gray; */
	text-decoration: underline;
	cursor: pointer;
}

a:link {
  text-decoration: none;
	color: #4e695a;
	transition-duration: .4s;
}

a:visited {
  text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
	text-decoration: underline;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
}

/* TOP BANNER */
.banner-container {
	display: flex;
	justify-content: flex-end;
  align-items: center;
	width: 100%;
}

.banner-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.banner-wrapper {
	display: flex;
	margin-top: 10px;
	margin-bottom: 130px;
}

.menu-button {
  display: flex;
	margin-left: 50px;
}

.biolink:hover {
	background-color: #FEE36E;
}

/* MAIN */
.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-image {
	width: 100%;
	height: 150%;
	margin-bottom: 100px;
	border-bottom: 10px solid #B2AC88;
}

.bio {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 150px;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	margin-left: 25px;
}

.amelia-image {
	display: flex;
	max-width: 30%;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-right: 10px;
	box-shadow: 5px 5px 5px gray;
}

.welcome-text {
	font-size: 18px;
	font-weight: lighter;
	font-family: "roboto";
}

.header {
	font-family: "roboto-bold";
	font-size: 50px;
	margin-bottom: 20px;
}

.slideFromLeft {
  animation-name: slideFromLeft;
  animation-duration: 2s;
  visibility: visible;
}

.slideFromRight {
	animation-name: slideFromRight;
	animation-duration: 2s;
	visibility: visible;
}

/*  FOOTER  */
.footer{
	display: flex;
	justify-content: center;
}

.footer-image {
	width: 100%;
	border-top: 10px solid #B2AC88;
}

.image-text {
	text-align: center;
	text-shadow: 3px 3px 5px gray;
	font-family: "roboto";
	font-weight: bolder;
	font-size: 20px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*  PORTFOLIO  */

.portfolio-banner-wrapper {
	display: flex;
	margin-top: 10px;
	margin-bottom: 75px;
	position: sticky;
	top: 0;
}

.portfolio-text {
	display: flex;
	position: relative;
	font-size: 20px;
	top: 150px;
	/* left: 0%; */
	/* transform: translate(-50%, -50%); */
}

.big-text-wrapper {
	display: flex;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	margin-left: 25px;
}

.projects-text {
	display: flex;
	text-decoration: underline;
	margin-bottom: 5px;
}

.portfolio-header {
	font-family: "roboto-bold";
	font-size: 50px;
}

/* .latest-gifs-container {
	display: grid;
	grid-template-rows: 300px 300px;
	grid-template-columns: 400px 400px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
} */

.slideshow {
	display: flex;
	flex-direction: column;
}

.show-next {
	position: relative;
}

.latest-gifs-container {
	display: flex;
}

.grid-item {
	max-width: 400px;
	height: 300px;
}

/* .grid-item.two {
	display: none;
} */

.paused {
	animation-play-state: paused;
}

.portfolio-image-text {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 15px;
	padding: 25px;
	text-shadow: 3px 3px 5px gray;
	font-family: "roboto";
	font-size: 100px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-image.portfolio {
	border-bottom: 10px solid #2b2b2b;
}

.footer-image.portfolio {
	border-top: 10px solid #2b2b2b;
}

.hidden {
	display: none;
}
