@font-face {
	font-family: "better-grade";
	src: url("./BetterGrade.ttf");
}

@font-face {
	font-family: "jet-brains";
	src: url("JetBrainsMono-Thin.ttf")
}

body {
  display: flex;
  flex-direction: column;
  font-family: "jet-brains", courier;
	color: #4e695a;
  margin: 0px;
  padding: 0px;
	background-color: #4e695a;
	background-image: url("https://akamai-scene7.ballarddesigns.com/is/image/ballarddesigns/T_WithoutZoom?$w400$&$src=WL171_PNK");
}

button {
  display: flex;
	padding: 15px;
  border-style: none;
	font-family: "jet-brains";
  font-size: 15px;
  color: white;
	background-color: #4e695a;
  transition-duration: .4s;
}

button:hover {
  background-color: #9cb8a8;
  color: #4e695a;
	cursor: pointer;
}

li {
  display: flex;
}

a,
a:link,
a:visited {
	color: #4e695a;
	text-decoration: none;
}

/* BANNER */
.banner-container {
  align-items: center;
}

.banner-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
	margin: 0px;
	padding: 0px;
  background-color: #4e695a;
}

.menu-buttons {
  display: flex;
	margin-left: 50px;
}

#contact-me {
  display: flex;
  justify-content: flex-end;
	padding: 10px 20px 10px 15px;
	margin-right: 50px;
	border-radius: 15px;
  color: #4e695a;
  background-color: #FEE36E;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

/* MAIN */
.about-projects-container,
.about-projects,
.projects-main-text,
.port-link-container {
	display: flex;
	justify-content: center;
}

.about-projects {
  flex-direction: row-reverse;
  align-items: center;
	width: 800px;
	margin-top: 100px;
  border-radius: 50px;
	background-color: white;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.projects-main-text {
	margin-bottom: 10px;
  align-items: center;
	width: 700px;
}

.projects-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
	align-items: center;
	margin: 30px;
  font-size: 25px;
  max-width: 800px;
}

.port-link-container {
	text-align: center;
  color: #4e695a;
	width: 690px;
}

.latest {
	justify-content: center;
}

.highlighted,
.portlink:hover {
	background-color: #FEE36E;
}

#latest-image {
	display: flex;
	max-width: 450px;
	margin-top: 25px;
	transition-duration: .4s;
}

#latest-image:hover {
	max-width: 600px;
}

#projects-header-text {
  display: flex;
	flex-wrap: nowrap;
	align-self: center;
	font-family: "better-grade";
  font-size: 270px;
  margin-bottom: 50px;
	margin-top: 50px;
}
