* {
  background-color: pink;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", "Times New Roman";
}

.header {
  display: flex;
  white-space: nowrap;
  font-size: 75px;
  justify-content: center;
}

.userEntry {
  display: flex;
  align-items: center;

}

#winnerBox {
  display: flex;
  font-size: 50px;
}

input[type=form] {
  display: flex;
  font-family: "courier new";
  font-size: 25px;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid pink;
  background-color: lightpink;
  transition: width 0.4s ease-in-out;
}

input[type=form]:focus {
  display: flex;
  background-color: white;
  width: 200px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "courier new";
  font-size: 20px;
  border-radius: 5px;
  height: 50px;
  width: 75px;
}
